main {
  padding: 80px 130px 130px;
  background-color: var(--shape-body);
  margin: auto;
  height: 100vh;
  border-radius: 12px;
  overflow: auto;
  font-family: var(--font-family-sans);
  color: var(--text-heading);
}

h2 {
  font: 600 1.75rem var(--font-family-sans);
}

fieldset {
  border: none;
  padding: 0;
  margin: 0;
  
  legend {
    display: flex;
    align-items: center;
    gap: 12px;

    img {
      width: 1.5rem;
      height: 1.5rem;
      color: var(--input-placeholder);
    }
  }
}

.input-wrap {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 35rem;
  margin-top: 40px;

  .wrap {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .input-wrap-between {
    display: flex;
    justify-content: space-between;

    .wrap2 {
      display: flex;
      flex-direction: column;
      gap: 12px;
    }
  }
}

.radio-wrap {
  display: flex;
  flex-direction: column;

  .video {
    background-image: url(../assets/image/icons/video.png);
    width: 16px;
    height: 16px;
    background-size: cover;
  }

  .build {
    background-image: url(../assets/image/icons/building-2.png);
    width: 16px;
    height: 16px;
    background-size: cover;
  }

  & .radio {
    display: flex;
    border-radius: 8px;
    border: 1px solid var(--input-stroke);
    background-color: var(--input-base);
    color: var(--text-body);
    margin-top: 12px;

    & input {
      position: absolute;
    }

    & .custom {
      display: flex;
      align-items: center;
      gap: 5px;

      font-size: 14px;
      margin: 2px;
      width: 132px;
      height: 38px;
      border-radius: 4px;
      padding-left: 16px ;

      &:hover {
        cursor: pointer;
        .video {
          background-image: url("../assets/image/icons/video-blue.svg");
        }
        .build {
          background-image: url("../assets/image/icons/building-blue.png");
        }
      }
    }
  }
}

.radio input[type="radio"]:checked + .custom {
  color: var(--text-heading);
  background: var(--input-stroke);

  .video {
    background-image: url("../assets/image/icons/video-blue.svg");
  }

  .build {
    background-image: url("../assets/image/icons/building-blue.png");
  }
}

.colors-radio {
  display: flex;
  justify-content: space-between; 

  .circle {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    border: 5px solid var(--input-stroke);

    &:hover {
      border: none;
      outline: none;
      cursor: pointer;
    }
  }
}

.colors-radio input[type="radio"]:checked + .circle{
  border: none;
  outline: none;
}

.themes-wrap {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 8px;

  .themes {
    display: flex;
    flex-direction: column;
    width: 134px;
    height: 103px;
    align-items: center;
    background-color: var(--input-stroke);
    border-radius: 8px;
    padding-top: 4px;
    border: 1px solid transparent;

    &:hover {
      cursor: pointer;
    }

    & p {
      margin-block: auto;
      font-size: 14px;
    }
  }
}

.themes-wrap input[type="radio"]:checked + .themes{
  border: 1px solid var(--brand-light);
  outline: none;
}

.input-wrap-flex {
  display: flex; 
  margin-top: 28px;

  input[type="checkbox"] {
    appearance: none;
    height: 32px;
    width: 60px;
    border-radius: 999px;

    &:focus {
      border: 1px solid var(--input-stroke);
    }
  }

  .flex-20 {
    display: flex;
    flex-direction: column;
    flex: 3;
    gap: 12px;

    & label {
      display: flex;
      width: 100%;
      height: 100%;
      align-items: center;

      &:hover {
        cursor: pointer;
      }
    }

    & .texto::before {
      content: "Escuro";
      font-size: 14px;
    }

    & input:checked ~ .texto::before{
      content: "Claro";
    }

    & input {

      &:hover {
        cursor: pointer;
      }

      &:checked {
        background: var(--brand-light);
        transition: 0.3s;
        
        & + .switch {
          position: relative;
          left: -27px;
          border-radius: 999px;
          background-color: var(--text-heading);
          width: 24px;
          height: 24px;
          transition: 0.5s;
        }
      }
    }
    .switch {
      position: relative;
      left: -55px;
      border-radius: 999px;
      background-color: var(--input-stroke);
      width: 24px;
      height: 24px;
      transition: 0.5s;
    }
    
  }

  .flex-80 {
    display: flex;
    flex-direction: column;
    flex: 5.5;
    gap: 12px;

    & label {
      display: flex;
      align-items: center;
      justify-content: space-between;

      &:hover {
        cursor: pointer;
      }
    }

    & .select {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: var(--shape-button);
      border-radius: 8px;
      width: 119px;
      height: 40px;
      gap: 8px;

      img {
        width: 16px;
        height: 16px;
      }

      & span {
        font-size: 14px;
      }
    }

    span {
      font-size: 16px;
      text-align: center;
    }
  }
}

.input-footer {
  & label {
    display: flex;
    gap: 10px;
    padding-block: 4.25px;
    cursor: pointer;

    & input[type="checkbox"] {
      appearance: none;
      border-radius: 4px;
      padding: 8px;
      position: relative;
      cursor: pointer;

      &:checked {
        border: 1px solid var(--brand-light);
      }
      
      &:checked::after {
        content: "✓";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -55%);
        color: var(--brand-light);
      }

      &:not(:checked) {
        border: 1px solid var(--input-stroke);
      }
    }

    & span {
      color: var(--brand-light);
    }
  }
}